@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/* line 17, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/main.scss */
body {
  background-color: white;
  font-family: Open Sans Condensed;
  color: #565656;
}

/*******************HEADER***********************/
/* line 14, ../sass/main.scss */
#menu-customized {
  height: 59px;
  width: 100%;
  background-color: #2e2e2e;
  font-size: 18px;
  color: white;
}
/* line 20, ../sass/main.scss */
#menu-customized .vectorLogo, #menu-customized .who, #menu-customized .us, #menu-customized .languages, #menu-customized .responsibility {
  float: left;
  display: inline;
}
/* line 24, ../sass/main.scss */
#menu-customized .who, #menu-customized .us, #menu-customized .responsibility, #menu-customized .listadd {
  padding: 6px 24px;
}
/* line 27, ../sass/main.scss */
#menu-customized .who:hover, #menu-customized .us:hover, #menu-customized .responsibility:hover {
  background-color: #262626;
  border-radius: 15px;
  box-shadow: gray 0px 6px 5px -6px;
}
/* line 32, ../sass/main.scss */
#menu-customized .who {
  color: white;
  margin: 14px 21px 0px 236px;
}
/* line 36, ../sass/main.scss */
#menu-customized .us {
  margin: 14px 2px 0px 26px;
}
/* line 39, ../sass/main.scss */
#menu-customized .centerLogo {
  position: absolute;
  left: 47%;
  top: 0px;
  background-color: #d2d2d2;
  height: 120px;
  width: 138px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -650px;
  background-repeat: no-repeat;
  box-shadow: 0px -10px 9px 3px #a2a1a1;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 39, ../sass/main.scss */
  #menu-customized .centerLogo {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -558.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 47, ../sass/main.scss */
#menu-customized .responsibility {
  margin: 14px 10px 10px 183px;
}
/* line 50, ../sass/main.scss */
#menu-customized .languages {
  margin: 20px 9px 0px 5px;
}
/* line 52, ../sass/main.scss */
#menu-customized .languages .es, #menu-customized .languages .en {
  color: gray;
  float: right;
  margin: 0px 3px 0px 3px;
}
/* line 57, ../sass/main.scss */
#menu-customized .languages .es:hover, #menu-customized .languages .en:hover {
  color: white;
}
/* line 61, ../sass/main.scss */
#menu-customized .vectorLogo {
  margin: 8.5px 0px 0px 0px;
  height: 43px;
  width: 45px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -999px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 61, ../sass/main.scss */
  #menu-customized .vectorLogo {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -898.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}

/*******************SLIDER***********************/
/* line 67, ../sass/main.scss */
.sliderdiv {
  height: 602px;
}

/* line 70, ../sass/main.scss */
.slider-custom {
  width: 100%;
  height: 542px;
  margin-bottom: 35px;
  z-index: -1;
}

/* line 76, ../sass/main.scss */
.caption {
  background-color: #777777;
  opacity: 0.6;
  height: 110px;
  width: 100%;
  position: relative;
  bottom: 145px;
  color: white;
  padding: 15px 0px 0px 210px;
}
/* line 85, ../sass/main.scss */
.caption .captionTitle {
  opacity: 1 !important;
  height: 40px;
  font-size: 35px;
}
/* line 90, ../sass/main.scss */
.caption .captionText {
  opacity: 1 !important;
  height: 25px;
  font-size: 19px;
}

/*******************CONTENT***********************/
/* line 97, ../sass/main.scss */
.weAre {
  font-size: 54px;
  text-align: center;
  margin-bottom: 55px;
}
/* line 101, ../sass/main.scss */
.weAre #grupoBAL {
  font-weight: bold;
}

/* line 105, ../sass/main.scss */
#team {
  font-size: 40px;
  text-align: center;
  margin-bottom: 55px;
}

/* line 110, ../sass/main.scss */
#grad {
  background: -webkit-linear-gradient(left, rgba(216, 214, 214, 0.1), rgba(216, 214, 214, 0.1));
  /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(216, 214, 214, 0.1), rgba(216, 214, 214, 0.1));
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(216, 214, 214, 0.1), rgba(216, 214, 214, 0.1));
  /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(216, 214, 214, 0.1), rgba(216, 214, 214, 0.1));
  /*Standard*/
}

/* line 116, ../sass/main.scss */
.wrapper-scroll {
  height: 287px;
  margin-bottom: 11px;
  float: left;
  position: relative;
  left: 88px;
  width: 190px;
  top: 50px;
}
/* line 125, ../sass/main.scss */
.wrapper-scroll:hover .captions {
  bottom: 0px !important;
}

/* line 130, ../sass/main.scss */
.scroll {
  height: 415px;
  width: 100%;
  margin-bottom: 8px;
}
/* line 134, ../sass/main.scss */
.scroll ul {
  margin: 0px 85px;
}
/* line 137, ../sass/main.scss */
.scroll .scroll-title {
  -webkit-transform: rotate(-32deg);
  -moz-transform: rotate(-32deg);
  -ms-transform: rotate(-32deg);
  -o-transform: rotate(-32deg);
  transform: rotate(-32deg);
  width: 53%;
  text-align: center;
  font-size: 21px;
  position: relative;
  top: 6px;
  left: 15px;
}
/* line 146, ../sass/main.scss */
.scroll .cutImg {
  height: 279px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  width: 276px;
  overflow: hidden;
  float: left;
}
/* line 152, ../sass/main.scss */
.scroll .cutImg .captions {
  width: 180px;
  height: 250px;
  background-color: black;
  position: absolute;
  bottom: -250px;
  opacity: .6 !important;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
/* line 161, ../sass/main.scss */
.scroll .cutImg .rotateImg {
  margin: 0px 102px 0px -37px;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  position: relative;
  overflow: hidden;
}
/* line 168, ../sass/main.scss */
.scroll .captions:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/* line 175, ../sass/main.scss */
.scroll .captions .captions-centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  background-color: black;
  opacity: 0.6;
  margin: 5px 10px;
}
/* line 182, ../sass/main.scss */
.scroll .captions .captions-centered p {
  opacity: 1 !important;
  color: white;
  font-size: 22px;
}
/* line 186, ../sass/main.scss */
.scroll .captions .captions-centered p span {
  color: green;
}
/* line 191, ../sass/main.scss */
.scroll .scroll-circles {
  height: 69px;
  width: 69px;
  border-radius: 50%;
  border: solid 35px #43677c;
  float: left;
  margin: 0px 59px;
  position: relative;
  left: 10px;
}
/* line 200, ../sass/main.scss */
.scroll .scroll-circles .op-industriales {
  height: 30px;
  width: 32px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -1088px;
  background-repeat: no-repeat;
  position: relative;
  bottom: 14px;
  right: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 200, ../sass/main.scss */
  .scroll .scroll-circles .op-industriales {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -1066.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 206, ../sass/main.scss */
.scroll .scroll-circles .serv-financieros {
  height: 43px;
  width: 26px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -954px;
  background-repeat: no-repeat;
  position: relative;
  right: 12px;
  bottom: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 206, ../sass/main.scss */
  .scroll .scroll-circles .serv-financieros {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -966.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 212, ../sass/main.scss */
.scroll .scroll-circles .op-comerciales {
  height: 37px;
  width: 20px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -1120px;
  background-repeat: no-repeat;
  position: relative;
  bottom: 18px;
  right: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 212, ../sass/main.scss */
  .scroll .scroll-circles .op-comerciales {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -1010.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 218, ../sass/main.scss */
.scroll .scroll-circles .divi-agropecuaria {
  height: 23px;
  width: 39px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -1044px;
  background-repeat: no-repeat;
  position: relative;
  bottom: 12px;
  right: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 218, ../sass/main.scss */
  .scroll .scroll-circles .divi-agropecuaria {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -942.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 224, ../sass/main.scss */
.scroll .scroll-circles .resp-social {
  height: 24px;
  width: 61px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -886px;
  background-repeat: no-repeat;
  position: relative;
  bottom: 13px;
  right: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 224, ../sass/main.scss */
  .scroll .scroll-circles .resp-social {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -832.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}

/* line 232, ../sass/main.scss */
.circles-wrapper {
  width: 981px;
  height: 403px;
}

/* line 236, ../sass/main.scss */
.friends {
  height: 267px;
}
/* line 238, ../sass/main.scss */
.friends img {
  margin: 10px 62px;
}

/* line 242, ../sass/main.scss */
.bwWrapper {
  position: relative;
  display: inline-block;
}
/* line 245, ../sass/main.scss */
.bwWrapper .penoles {
  height: 99px;
  width: 107px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -88px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 245, ../sass/main.scss */
  .bwWrapper .penoles {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -285.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 248, ../sass/main.scss */
.bwWrapper .gnpAssurance {
  height: 56px;
  width: 146px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -290px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 248, ../sass/main.scss */
  .bwWrapper .gnpAssurance {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -228.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 251, ../sass/main.scss */
.bwWrapper .palacio {
  height: 86px;
  width: 193px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 251, ../sass/main.scss */
  .bwWrapper .palacio {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -100px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 254, ../sass/main.scss */
.bwWrapper .profuturo {
  height: 66px;
  width: 143px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -413px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 254, ../sass/main.scss */
  .bwWrapper .profuturo {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -385.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 257, ../sass/main.scss */
.bwWrapper .fresnillo {
  height: 53px;
  width: 139px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -481px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 257, ../sass/main.scss */
  .bwWrapper .fresnillo {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -452.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 260, ../sass/main.scss */
.bwWrapper .bolsa {
  height: 99px;
  width: 96px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -189px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 260, ../sass/main.scss */
  .bwWrapper .bolsa {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 0;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 263, ../sass/main.scss */
.bwWrapper .valmex {
  height: 63px;
  width: 144px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -348px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 263, ../sass/main.scss */
  .bwWrapper .valmex {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -164.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 266, ../sass/main.scss */
.bwWrapper .tane {
  height: 51px;
  width: 136px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -536px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 266, ../sass/main.scss */
  .bwWrapper .tane {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -506.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}

/* line 270, ../sass/main.scss */
.values {
  height: 154px;
  font-size: 30px;
  text-align: center;
}
/* line 274, ../sass/main.scss */
.values p {
  margin-top: 20px;
  font-size: 18px;
}
/* line 278, ../sass/main.scss */
.values span {
  font-weight: bold;
}

/* line 282, ../sass/main.scss */
.block {
  background: url("http://placehold.it/570x370");
  height: 370px;
  border: 1px solid black;
}

/* line 287, ../sass/main.scss */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 294, ../sass/main.scss */
.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  background-color: black;
  opacity: 0.6;
  margin: 5px 10px;
}
/* line 301, ../sass/main.scss */
.centered p {
  color: white;
  font-size: 22px;
}
/* line 304, ../sass/main.scss */
.centered p span {
  font-weight: bold;
}

/*******************FOOTER***********************/
/* line 310, ../sass/main.scss */
.footer {
  width: 100%;
  height: 178px;
  background-color: #4f4f4f;
  font-size: 20px;
}
/* line 315, ../sass/main.scss */
.footer a {
  color: #888888;
}
/* line 318, ../sass/main.scss */
.footer .footer-left {
  margin-top: 25px;
}
/* line 320, ../sass/main.scss */
.footer .footer-left a:hover {
  color: white !important;
}
/* line 324, ../sass/main.scss */
.footer .footer-middle {
  color: white;
}
/* line 326, ../sass/main.scss */
.footer .footer-middle .logo {
  margin: 15px 40% 0px 40%;
  height: 70px;
  width: 80px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -790px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 326, ../sass/main.scss */
  .footer .footer-middle .logo {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -679.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 330, ../sass/main.scss */
.footer .footer-middle p {
  text-align: center;
  width: 220px;
  margin: 10px 0px 0px 20%;
}
/* line 335, ../sass/main.scss */
.footer .footer-middle span {
  font-weight: bold;
}
/* line 339, ../sass/main.scss */
.footer .footer-right {
  float: right;
}
/* line 341, ../sass/main.scss */
.footer .footer-right .logo-smallie {
  margin-top: 10px;
  height: 40px;
  width: 41px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -912px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 341, ../sass/main.scss */
  .footer .footer-right .logo-smallie {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -857.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 345, ../sass/main.scss */
.footer .footer-right .msg {
  margin-top: 10px;
  height: 17px;
  width: 28px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -1069px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 345, ../sass/main.scss */
  .footer .footer-right .msg {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -1048.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
/* line 350, ../sass/main.scss */
.footer .nombre {
  width: 222px;
  margin-left: 8px;
}
/* line 354, ../sass/main.scss */
.footer .email {
  width: 307px;
}
/* line 357, ../sass/main.scss */
.footer .comentario {
  width: 307px;
  display: block;
}
/* line 361, ../sass/main.scss */
.footer .captcha {
  width: 123px;
  margin: 0px 10px 0px 13px;
}
/* line 365, ../sass/main.scss */
.footer .contact-me {
  background-color: #eaa73e;
  color: white;
  width: 137px;
  border: none;
}

/* line 372, ../sass/main.scss */
.the-form, .the-form ul, .the-form ul li {
  display: inline;
}

/* line 375, ../sass/main.scss */
.the-form ul li input {
  margin-bottom: 5px;
}

/* line 378, ../sass/main.scss */
.the-form {
  color: white;
}

/* line 381, ../sass/main.scss */
.the-form ul li label {
  margin-left: 2px;
}

/* line 384, ../sass/main.scss */
.copyrights {
  background-color: #2d2d2d;
  width: 100%;
  height: 41px;
  color: #8a8a8a;
}
/* line 389, ../sass/main.scss */
.copyrights span {
  margin: 5px 18% 0px 42%;
}
/* line 392, ../sass/main.scss */
.copyrights p {
  display: inline;
}
/* line 394, ../sass/main.scss */
.copyrights p img {
  height: 22px;
  width: 71px;
  background-image: url('../img/sprites/icon-sf33d7f1c25.png');
  background-position: 0 -862px;
  background-repeat: no-repeat;
  margin: 10px 10px 0px 0px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 394, ../sass/main.scss */
  .copyrights p img {
    background-image: url('../img/sprites-2x/icon-s61b44c17d0.png');
    background-position: 0 -782.5px;
    -webkit-background-size: 261px auto;
    -moz-background-size: 261px auto;
    -o-background-size: 261px auto;
    background-size: 261px auto;
  }
}
